body {
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 20px;
  background: url('/assets/img/kt-gold.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
  background-color: transparent;
}
