---
layout: default
hero_text: Kristianto
title: Home Page
---
<div class="container" id="landing-container">
  <div class="row col-md-8 col-md-offset-2" id="initial-name">
    <h1 id="name-title">KRIS</h1>
    <h1 id="name-subtitle">TIANTO</h1>
    <!--<img src="assets/img/kt-gold.png" id="front-image">-->
  </div>
</div>
